.login {
  padding-top: 54px;
  text-align: center;
  height: 100%;
  background-size: cover;
  background-position: center;

  @media (min-width: 768px) {
    padding-top: 81px;
  }
  .login__messagecontainer {
    position: absolute;
    top: 90px; left: 20%; right: 20%;
    .error, .notification {
      font-size: 15px;
      color: white;
      width: 70%;
      padding: 10px;
      margin: 20px auto;
      border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.3) 0 4px 8px;
    }
    .error {
      background: #cf315b;
    }
    .notification {
      background: green;
    }
  }
  .login__backdrop {
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background-size: cover;
    background-position: center;
    opacity: 0.2;
  }
  .wrapper {
    position: absolute;
    left: 0; right: 0;
    //padding-top: 100px;
    top: 100px;
    @media (min-width: 768px) {
      left: 50px; right: 50px;
      top: 40%;
      transform: translateY(-50%);
    }
  }

  h2 {
    color: #cf315b;
    font-family: ProximaNova-Light;
    font-size: 25px;
    margin-bottom: 17px;

    @media (min-width: 960px) {
      font-size: 35px;
      margin-bottom: 35px;
    }
  }

  div.login__form-container {
    width: 90%;
    max-width: 700px;
    margin: auto;
    @media (min-width: 768px) {
      width: 75%;
    }

    div.login__input-container {
      width: 100%;
      margin: 10px 0;
      input, a.login__facebook {
        width: 100%;
        padding: 5px 10px;
        font-size: 14px;
        border-radius: 5px;
        outline: none;
        border: 1px #d7d7d7 solid;
        box-shadow: rgba(0, 0, 0, 0) 0 0 0;
        transition: box-shadow 0.2s ease, border 0.2s ease;
        &.valid {
          //box-shadow: green 0 0 2px;
          border: 1px green solid;
        }
        &.invalid {
          //box-shadow: #cf315b 0 0 2px;
          border: 1px #cf315b solid;
        }
        &.half {
          width: 48%;
          &:first-child {
            margin-right: 2%;
          }
          &:last-child {
            margin-left: 2%;
          }
        }
        @media (min-width: 960px) {
          padding: 10px 20px;
          font-size: 18px;
        }
        &[type="submit"] {
          background-color: #cf315b;
          color: #fff;
          border: none;
        }
      }
      a.login__facebook {
        display: block;
        color: #fff;
        text-decoration: none;
        background-color: #3B5998;
        transition: background-color 0.5s ease;
        &.done {
          background-color: darkgreen;
        }
      }
    }

  }

  //h3 {
  //    margin-bottom: 35px;
  //}
  //
  //.p__lighter {
  //    color: #221f26;
  //    font-family: ProximaNova-Light;
  //    font-weight: 100;
  //}
  //
  //.facebook__login {
  //    text-align: center;
  //
  //    .social__button {
  //        a {
  //            background: #cf315b;
  //            color: #fff;
  //            padding: 10px 15px;
  //            display: inline-block;
  //            text-decoration: none;
  //            border: .5px solid #9b2446;
  //            border-radius: 3px;
  //            padding-left: 55px;
  //            position: relative;
  //
  //            img {
  //                position: absolute;
  //                left: 10px;
  //                background: #fff;
  //            }
  //
  //            span {
  //                background: #9b2446;
  //                width: 1px;
  //                height: 25px;
  //                position: absolute;
  //                top: 9.5px;
  //                left: 40px;
  //            }
  //        }
  //    }
  //}
  //
  //.normal__login {
  //    margin-top: 25px;
  //
  //    form {
  //        margin-top: 25px;
  //    }
  //
  //    .input__group {
  //        margin-bottom: 10px;
  //    }
  //
  //    input {
  //        display: block;
  //        margin: 0 auto;
  //        padding: 10px 12px;
  //        border: 1px solid #d7d7d7;
  //        color: rgba(#221f26, .5);
  //        width: 280px;
  //        border-radius: 2px;
  //
  //        &[type='submit'] {
  //            background: #cf315b;
  //            color: #fff;
  //            border: none;
  //        }
  //    }
  //}
}
