@import "../vars";
@import "../responsive";

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.modal-overlay {
  background-color: $overlayColorBlack;
  z-index: 5000;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-content {
  overflow: hidden;
  display: flex;
  max-width: 400px;
  width: 100%;
  backface-visibility: hidden;
  height: auto;
  border-radius: 4px;
  background-color: $colorWhite;
  padding: 24px 24px 32px 24px;
  margin: 96px auto;
}

.modal-close {
  cursor: pointer;
  width: 21px;
  height: 21px;
  position: absolute;
  top: 50px;
  right: 50px;
  transition: transform 0.5s ease;
  z-index: 10;
  i {
    :global {
      .fill {
        fill: white;
      }
    }
    svg {
      width: 21px;
      height: 21px;
    }
  }
  &:hover {
    transform: scale(1.1);
  }
}

.facebook-btn-wrapper {
  margin-top: 24px;
  margin-bottom: -4px;
  padding-bottom: 24px;
  border-bottom: 1px solid $colorGrayLighter;
}

.forgot-password {
  @include smallRegular($colorPink);
  margin-top: 7px;
  cursor: pointer;
  text-align: right;
}

.new-user {
  @include bodyRegular($colorGrayDark);
  display: flex;
  margin-top: 32px;
  justify-content: center;
}

.sign-up {
  @include bodyMedium($colorPink);
  cursor: pointer;
  text-decoration: none;
  margin-left: 6px;
  display: block;
}

//large desktop view
@media (min-width: $lgDesktopBreakpoint) {

}
//tablet landscape view
@media (max-width: $desktopBreakpoint - 1) {

}
//tablet portrait view
@media (max-width: $tabletLandscapeBreakpoint - 1) {

}
//phone view
@media (max-width: $phoneBreakpoint) {
  .modal-content {
    margin: 32px auto;
    position: relative;
    max-width: 343px;
    width: 100%;
  }
  .modal-overlay {
    padding: 0 16px;
  }
  .modal-close {
    right: 23.7px;
    top: 23.7px;
    i {
      :global {
        .fill {
          fill: #a7a6a9;
        }
      }
      svg {
        width: 16.6px;
        height: 16.6px;
      }
    }
  }
}
