@import "../vars";
.alert-container {
  position: fixed;
  top: 20px;
  z-index: 3000;
  width: 100%;
  max-width: 300px;
  transform: translateX(-50%);
  left: 50%;
  & > div {
    & > div {
      position: relative;
      margin: auto;
      background: white;
      color: #27AE60;
      width: 100%;
      background: white;
      color: $colorGray;
      z-index: 3000;
      border-radius: 10px;
      border: 1px solid #27AE60;
      padding: 10px;
    }
  }
}
