:global {
  .change__password {
    text-align: center;
    padding-top: 54px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
    max-width: 900px;

    @media (min-width: 960px) {
      padding-top: 81px;
    }

    .wrapper {
      margin: 50px auto;

      @media (min-width: 768px) {
        margin-top: 100px;
      }
    }

    form {
      width: 100%;
      margin: 0 auto;
      margin-top: 20px;

      @media (min-width: 768px) {
        margin-top: 45px;
      }
    }

    input {
      width: 100%;
      padding: 8px;
      margin-bottom: 8px;
      border: 1px solid #d7d7d7;
      text-align: center;
      color: rgba(34, 31, 38, .5);
      border-radius: 2px;

      @media (min-width: 768px) {
        padding: 10px 12px;
        text-align: left;
        margin: 0;
        margin-right: 1%;
        float: left;
        width: 49%;
      }

      @media (min-width: 1200px) {
        width: 40%;
      }

      &[type='submit'] {
        text-align: center;
        transition: background .2s ease-in-out;
        margin-top: 10px;
        margin-bottom: 0;
        border: 1px solid #cf315b;
        background: #cf315b;
        color: #fff;
        cursor: pointer;

        &:hover {
          background: #9b2446;
        }

        @media (min-width: 768px) {
          width: 99%;
        }

        @media (min-width: 1200px) {
          margin: 0;
          width: 18%;
          text-align: center;
        }
      }
    }

    .password__form__errors {
      margin-top: 25px;

      .change__password__error {
        display: inline-block;;
        margin: 0 auto;
        color: #cf315b;
        border-radius: 3px;
        opacity: 0;
        transition: opacity 0.2s ease;
        width: 100%;
        font-size: 18px;
        font-family: 'Roboto', Arial, sans-serif;
        font-weight: 700;

        @media (min-width: 768px) {
          width: auto;
        }

        &:nth-of-type(2) {
          display: block;
          margin-top: 5px;
        }
      }
    }
  }
}
