.hellobank-contest-rules {
  margin-top: 54px;
  padding: 20px 0 5px;

  @media (max-width: 768px) {
    margin-top: 81px;
    padding: 35px 0 15px;
  }

  h1 {
    margin-bottom: 15px;

    @media (max-width: 768px) {
      margin-bottom: 25px;
    }
  }

  a {
    color: #cf315b;
  }

  p {
    margin-bottom: 15px;
  }

  .list__heading:before {
    content: '';
    padding-right: 0;
  }

  ul {
    padding-left: .6em;
    margin-bottom: 35px;

    @media (max-width: 768px) {
      padding-left: 1.2em;
    }

    li {
      counter-reset: none !important;
      counter-increment: none !important;
      margin-bottom: 5px !important;

      &:before {
        content: "" !important;
      }
    }

    &.list__stripes {
      li {
        margin-bottom: 15px !important;

        &:before {
          content: "-" !important;
        }
      }
    }
  }

  ol {
    list-style-type: none;
    counter-reset: heading;
    counter-reset: item;
    margin: 0;
    padding: 0;

    li {
      display: table;
      counter-increment: heading;
      margin: 0;
      margin-bottom: 15px;
      word-wrap: break-word;

      &:before {
        content: counters(heading, ".") ". ";
        display: table-cell;
        padding-right: .6em;

        @media (max-width: 768px) {
          padding-right: 1.2em;
        }
      }

      &.list__heading {
        font-weight: bold;
        font-size: 21px;
      }
    }

    ol {
      padding-left: .6em;
      margin-bottom: 35px;

      @media (max-width: 768px) {
        padding-left: 1.2em;
      }

      li {
        counter-increment: item;

        &:before {
          content: counter(heading) "." counter(item) " ";
        }
      }

      ol {
        padding-left: 1.2em;
        counter-reset: alphabet;
        list-style-type: lower-alpha;

        @media (max-width: 768px) {
          padding-left: 2.4em;
        }

        li {
          counter-increment: alphabet;

          &:before {
            content: "(" counter(alphabet, lower-alpha) ")";
          }
        }
      }
    }
  }

  .cookie__container {
    padding-left: 1.2em;

    @media (max-width: 768px) {
      padding-left: 2.4em;
    }
  }

  .cookie {
    border: 1px solid #221f26;
    padding: 10px;
    border-top: none;

    .cookie__3 {
      padding: 10px 0;

      @media (max-width: 768px) {
        float: left;
        width: 60%;
        margin-right: 2%;

        &:first-of-type {
          width: 18%;
        }

        &:last-of-type {
          width: 18%;
          margin-right: 0;
        }
      }
    }

    &.cookie__first {
      border-top: 1px solid #221f26;

      .cookie__3:first-child {
        display: none;

        @media (max-width: 768px) {
          display: block;
          visibility: hidden;
        }
      }
    }

    &:last-of-type {
      margin-bottom: 15px;
    }
  }
}
