server {
    listen 80;
    server_name <the hostname>;
    return 301 https://$host$request_uri;
}


server {
    listen 443;
    server_name <the hostname>;
    
    try_files $uri $uri/ /index.html;
    error_page 404 =200 /index.html;

    ssl on;
    ssl_certificate /etc/nginx/external.conf.d/ssl/spott_it_server_combined.crt;
    ssl_certificate_key /etc/nginx/external.conf.d/ssl/spott_it.key;
    
    proxy_set_header X-Forwarded-Host $host;
    if ($http_user_agent ~* (facebook|facebot|googlebot|google.com|bingbot|bing.com|yandexbot|yandex.com|yahooseeker|yahoo.com|slurp|feedfetcher|blekkobot|crawler|facebook) ) {
        proxy_pass http://spott.website.seoserver:4000;
    }
    
    location / {
        root /var/www/html;
    }
}
