container_commands:
  010:
    command: cp -r .ebextensions/templates/httpd/conf.d/appiness.conf.template /etc/httpd/conf.d/appiness.conf
  011:
    command: sed -i -- 's/%{APP_ENVIRONMENT}/'"$environment"'/g' /etc/httpd/conf.d/* 
  030:
    command: chmod 644 /etc/httpd/conf.d/*
  031:
    command: chown root:root /etc/httpd/conf.d/*    
  900:
    command: /sbin/service httpd restart
