container_commands:
  010:
    command: cp -r .ebextensions/templates/httpd/conf.d/appiness.conf.template /tmp/deployment/config/#etc#httpd#conf.d#00_elastic_beanstalk_proxy.conf
  020:
    command: sed -i -- 's/%{APP_ENVIRONMENT}/'"$environment"'/g' /tmp/deployment/config/#etc#httpd#conf.d#00_elastic_beanstalk_proxy.conf
