container_commands:
  010a:
    command: "mkdir -p /var/www/website"
  020b:
    command: "cp -rf .ebextensions/files/website/* /var/www/website/"
  021c:
    command: "cp -r .ebextensions/templates/website/config.json.template /var/www/website/config.json"
  030d:
    command: sed -i -- 's/%{APP_ENVIRONMENT}/'"$environment"'/g' /var/www/website/config.json 
    