container_commands:
  010:
    command: "mkdir -p /var/www/website/"
  020:
    command: "rsync -nav --delete .ebextensions/files/website/ /var/www/website/"
  030:
    command: "cp -r .ebextensions/templates/website/config.json.template /var/www/website/config.json"
  040:
    command: sed -i -- 's/%{APP_ENVIRONMENT}/'"$environment"'/g' /var/www/website/config.json 
    