container_commands:
  01-clean:
    command: rm -rf /var/www/website
  02-copy:
    command: mkdir -p /var/www/website
  03-copy:
    command: cp -r .ebextensions/files/website/* /var/www/website
  04-config:
    command: cp -r .ebextensions/templates/website/config.json.template /var/www/website/config.json
  05-config:
    command: sed -i -- 's/%{APP_ENVIRONMENT}/'"$environment"'/g' /var/www/website/config.json 
