@import "../vars";

.users {
  display: flex;
  position: relative;
  align-items: center;
  .user {
    width: 26px;
    min-width: 26px;
    height: 26px;
    min-height: 26px;
    border: solid 2px $colorWhite;
    border-radius: 50%;
    background-color: $colorGray;
    background-size: cover;
    position: relative;
    margin-left: -10px;
    display: block;
    box-sizing: content-box;
    &:first-child {
      margin-left: 0;
    }
    &:hover {
      z-index: 100!important;
    }
  }
  .users-moar {
    @include btnSmallRound(true);
    margin-left: 3px;
  }
}

.users-large {
  display: flex;
  position: relative;
  align-items: center;
  .user {
    width: 32px;
    min-width: 32px;
    height: 32px;
    min-height: 32px;
    border: solid 2px $colorWhite;
    border-radius: 50%;
    background-color: $colorGray;
    background-size: cover;
    position: relative;
    margin-left: -12px;
    display: block;
    box-sizing: content-box;
    &:first-child {
      margin-left: 0;
    }
    &:hover {
      z-index: 100!important;
    }
  }
  .users-moar {
    @include btnMediumRound(true);
    margin-left: 3px;
  }
}

.users-wrapper {
  display: flex;
  position: relative;
  align-items: center;
}
