@import "../../vars";

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.topics {
  width: 100%;
  padding: 28px $offsetWidth 31px $offsetWidth;
  background-color: $colorWhite;
  box-sizing: border-box;
  border-bottom: 1px solid $colorGrayLighter;
}

.topics-content {
  max-width: $maxWidth;
  margin: 0 auto;
  width: 100%;
}

.topics-title {
  @include titleMedium;
  margin-bottom: 14px;
}

.nav-wrapper {
  width: 100%;
  border-bottom: 1px solid $colorGrayLighter;
  box-sizing: border-box;
  background-color: $colorWhite;
  height: 80px;
  padding: 0 $offsetWidth 0 $offsetWidth;
}

.nav {
  max-width: $maxWidth;
  margin: 0 auto;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: flex-end;
}

.nav-item {
  @include titleMedium($colorGray);
  margin-right: 48px;
  padding-bottom: 28px;
  box-sizing: border-box;
  transition: color 0.2s ease;
  text-decoration: none;
  &:hover {
    color: $colorBlack;
    text-decoration: none;
  }
}

.nav-item-active {
  color: $colorBlack;
  border-bottom: 2px solid $colorPink;
  text-decoration: none;
}

.cards-wrapper {
  padding: $gutterWidth $offsetWidth 0 $offsetWidth;
}

.cards {
  max-width: $maxWidth;
  margin: 0 auto 32px auto;
  width: 100%;
}

.peoples {
  padding: $gutterWidth $offsetWidth $gutterWidth $offsetWidth;
}

.peoples-content {
  max-width: $maxWidth;
  margin: 0 auto;
  width: 100%;
  border-radius: 4px;
  background-color: $colorWhite;
  box-sizing: border-box;
  padding: 32px;
  box-shadow: $boxShadowBlur;
}

.people {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $colorGrayLighter;
  cursor: pointer;
  text-decoration: none;
  &:last-child {
    border-bottom: none;
  }
}

.people-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
  background-size: cover;
  background-position: 50%;
  svg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
}

.people-name {
  @include titleMedium;
  text-decoration: none;
}

.no-results {
  @include headlineMedium;
  text-align: center;
  padding: 50px 0 50px 0;
}
