@import "../../../vars";
@import "../../../responsive";

.content-profile {
  padding: 24px;
}

.content-title {
  @include headlineMedium;
}

.user-photos {
  display: flex;
  margin-top: 32px;
}

.user-avatar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 96px;
  margin-right: 40px;
}

.avatar-image {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: $colorGrayLighter;
  background-size: cover;
  background-position: 50% 50%;
}

.avatar-link {
  @include bodyRegular($colorPink);
  margin-top: 16px;
  overflow: hidden;
  position: relative;
  display: block;
  text-decoration: none;
  cursor: pointer;
  [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
  }
}

.user-bg {
  display: block;
}

.bg-image {
  width: 250px;
  height: 96px;
  border-radius: 4px;
  background-color: $colorGrayLighter;
  background-size: cover;
}

.bg-link {
  @include bodyRegular($colorPink);
  margin-top: 16px;
  overflow: hidden;
  position: relative;
  display: block;
  text-decoration: none;
  cursor: pointer;
  [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
  }
}

.user-form {
  margin-top: 40px;
}

.user-form-wrapper {
  width: 360px;
}

.user-form-row {
  margin-top: 32px;
}

.user-form-high-row {
  margin-top: 37px;
}

.user-form-submit {
  border-top: 1px solid $colorGrayLighter;
  margin: 64px -24px 0 -24px;
  padding: 20px 24px 0 24px;
  display: flex;
  justify-content: flex-end;
}

.user-form-submit-btn {
  @include btnMedium;
  @include btnPink;
}

//large desktop view
@media (min-width: $lgDesktopBreakpoint) {

}
//tablet landscape view
@media (max-width: $desktopBreakpoint - 1) {

}
//tablet portrait view
@media (max-width: $tabletLandscapeBreakpoint - 1){

}
//phone view
@media (max-width: $phoneBreakpoint) {
  .user-photos {
    display: block;
  }
  .user-avatar {
    margin-bottom: 30px;
  }
  .bg-image {
    width: 100%;
    max-width: 250px;
  }
  .user-form-wrapper {
    width: 100%;
    max-width: 360px;
  }
}
