@import "../vars";
@import "../responsive";

.scroll-vertical {
  z-index: 1000;
  position: absolute;
  width: 6px;
  right: 2px;
  bottom: 2px;
  top: 2px;
  border-radius: 3px;
  transition: opacity 0.3s ease;
}
.custom-scrollbar {
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: 300;
  overflow: visible;
}
//large desktop view
@media (min-width: $lgDesktopBreakpoint) {

}
//tablet landscape view
@media (max-width: $desktopBreakpoint - 1) {

}
//tablet portrait view
@media (max-width: $tabletLandscapeBreakpoint - 1) {

}
//phone view
@media (max-width: $phoneBreakpoint) {
  .custom-scrollbar {
    width: 100% !important;
  }
}

