@import "../vars";
@import "../responsive";

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.topics {
  width: 100%;
  padding: 28px $offsetWidth;
  background-color: $colorWhite;
  box-sizing: border-box;
  border-bottom: 1px solid $colorGrayLighter;
}

.topics-content {
  margin: 0 auto;
  width: 100%;
}

.topics-title {
  @include titleMedium;
  margin-bottom: 14px;
}


.cards {
  margin: auto;
  padding: $gutterWidth 0 0 0;
}

.cards-wrapper {
  margin-left: -16px;
  margin-right: -16px;
  & > div {
    margin: 0 auto 32px auto;
    width: 100%;
  }
}

.load-more {
  @include btnBig;
  @include btnGray;
  display: block;
  margin: 40px auto 60px auto;
}

.card-selector {
  width: 316px;
  padding: 0 16px;
  & > div {
    width: 100% !important;
  }
}

//phone view
@media (max-width: 650px) {
  .card-selector {
    width: 50%;
  }
  .cards-wrapper {
    & > div {
      width: 100% !important;
    }
  }
}

@media (max-width: 425px) {
  .card-selector {
    padding: 0 8px;
  }
  .cards-wrapper {
    margin-left: -8px;
    margin-right: -8px;
  }
}
