@import "vars";

//large desktop view
@media (min-width: $lgDesktopBreakpoint) {
  .responsive-container {
    padding-left: $lgDesktopGutter !important;
    padding-right: $lgDesktopGutter !important;
  }
  .responsive-element {
    margin-left: $desktopGutter !important;
    margin-right: $desktopGutter !important;
  }
}
//desktop view
@media (max-width: $lgDesktopBreakpoint - 1) {
  .responsive-container {
    padding-left: $desktopGutter !important;
    padding-right: $desktopGutter !important;
  }
  .responsive-element {
    margin-left: $desktopGutter !important;
    margin-right: $desktopGutter !important;
  }
}
//tablet landscape view
@media (max-width: $desktopBreakpoint - 1) {
  .responsive-container {
    padding-left: $tabletLandscapeGutter !important;
    padding-right: $tabletLandscapeGutter !important;
  }
  .responsive-element {
    margin-left: $desktopGutter !important;
    margin-right: $desktopGutter !important;
  }
}
//tablet portrait view
@media (max-width: $tabletLandscapeBreakpoint - 1){
  .responsive-container {
    padding-left: $tabletPortraitGutter !important;
    padding-right: $tabletPortraitGutter !important;
  }
  .responsive-element {
    margin-left: $tabletPortraitGutter !important;
    margin-right: $tabletPortraitGutter !important;
  }
}
//phone view
@media (max-width: $phoneBreakpoint) {
  .responsive-container {
    padding-left: $phoneGutter !important;
    padding-right: $phoneGutter !important;
  }
  .responsive-element {
    margin-left: $phoneGutter !important;
    margin-right: $phoneGutter !important;
  }
}
