@import "vars";
$lgDesktopPadding: 48px;
$desktopPadding: 40px;
$tabletLandscapePadding: 32px;
$tabletPortraitPadding: 24px;
$phonePadding: 16px;

$lgDesktopBreakpoint: 1800px;
$desktopBreakpoint: 1200px;
$tabletLandscapeBreakpoint: 900px;
$tabletPortraitBreakpoint: 600px;
$phoneBreakpoint: 599px;

//large desktop view
@media (min-width: $lgDesktopBreakpoint) {
  .responsive-container {
    padding-left: $lgDesktopPadding !important;
    padding-right: $lgDesktopPadding !important;
  }
}
//desktop view
@media (max-width: $lgDesktopBreakpoint - 1) {
  .responsive-container {
    padding-left: $desktopPadding !important;
    padding-right: $desktopPadding !important;
  }
}
//tablet landscape view
@media (max-width: $desktopBreakpoint - 1) {
  .responsive-container {
    padding-left: $tabletLandscapePadding !important;
    padding-right: $tabletLandscapePadding !important;
  }
}
//tablet portrait view
@media (max-width: $tabletLandscapeBreakpoint - 1){
  .responsive-container {
    padding-left: $tabletPortraitPadding !important;
    padding-right: $tabletPortraitPadding !important;
  }
}
//phone view
@media (max-width: $phoneBreakpoint) {
  .responsive-container {
    padding-left: $phonePadding !important;
    padding-right: $phonePadding !important;
  }
}
