$colorBlack: #221f26;
$colorGrayDark: #59575c;
$colorGray: #a7a6a9;
$colorGrayLight: #d7d7d7;
$colorGrayLighter: #efefef;
$colorGrayWhite: #f9f9f9;
$colorWhite: #ffffff;

$colorPink: #cf315b;
$colorPinkDark: #9b2444;
$colorPinkMid: #b0294d;

$colorGreen: #2ecb70;
$colorGreenDark: #229853;
$colorGreenMid: #27ac5f;

$colorOrange: #e64b3b;

$colorYellow: #ffb400;

$overlayColorWhite: rgba(249, 249, 249, 0.95);
$overlayColorBlack: rgba(34, 31, 38, 0.5);

$boxShadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
$boxShadowBlur: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
$boxShadowBlurer: 0 2px 20px 0 rgba(0, 0, 0, 0.15);
$boxShadowBlurInit: 0 2px 15px 0 rgba(0, 0, 0, 0.08);;
$boxShadowBlurHover: 0 2px 40px 0 rgba(0, 0, 0, 0.24);
$boxShadowSharp: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
$boxShadowSharpLite: 0 1px 2px 0 rgba(0, 0, 0, 0.2);

$gradientBlack: linear-gradient(to bottom, rgba(34, 31, 38, 0.0), rgba(34, 31, 38, 0.7));
$gradientBlackRight: linear-gradient(to right, rgba(34, 31, 38, 0.0), rgba(34, 31, 38, 0.7));
$gradientBlackLeft: linear-gradient(to left, rgba(34, 31, 38, 0.0), rgba(34, 31, 38, 0.7));
$gradientWhite: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), #ffffff);
$gradientWhiteRight: linear-gradient(to right, rgba(249, 249, 249, 0.0), $colorGrayWhite);
$gradientWhiteLeft: linear-gradient(to left, rgba(249, 249, 249, 0.0), $colorGrayWhite);

$offsetWidth: 48px;
$columnWidth: 72px;
$gutterWidth: 32px;
$gutterSmallWidth: 16px;
$maxWidth: 1360px;
$headerHeight: 80px;

$lgDesktopGutter: 48px;
$desktopGutter: 40px;
$tabletLandscapeGutter: 32px;
$tabletPortraitGutter: 24px;
$phoneGutter: 16px;

$lgDesktopBreakpoint: 1800px;
$desktopBreakpoint: 1200px;
$tabletLandscapeBreakpoint: 900px;
$tabletPortraitBreakpoint: 600px;
$phoneBreakpoint: 599px;

// pass variables to react component
:export {
  cssHeaderHeight: $headerHeight;
}

@function gridWidth($n) {
  @return $n * $columnWidth + ($n - 1) * $gutterWidth;
}

@function gridSmallWidth($n) {
  @return $n * $columnWidth + ($n - 1) * $gutterSmallWidth;
}

@mixin headlineMedium($color: $colorBlack) {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: $color;
}

@mixin headlineLight($color: $colorBlack) {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: $color;
}

@mixin titleRegular($color: $colorBlack) {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: $color;
}

@mixin titleMedium($color: $colorBlack) {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: $color;
}

@mixin bodyRegular($color: $colorBlack) {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: $color;
}

@mixin bodyMedium($color: $colorBlack) {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: $color;
}

@mixin smallRegular($color: $colorBlack) {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.4px;
  color: $color;
}

@mixin smallMedium($color: $colorBlack) {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.4px;
  color: $color;
}

@mixin tinyRegular($color: $colorBlack) {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 0.3px;
  color: $color;
}

@mixin tinyMedium($color: $colorBlack) {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 0.3px;
  color: $color;
}

@mixin btn {
  box-sizing: border-box;
  border: solid 1px $colorGrayLight;
  text-align: center;
  color: $colorGray;
  background-color: $colorWhite;
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  &:hover {
    border: solid 1px $colorGray;
    color: $colorGrayDark;
    i {
      :global {
        .fill {
          fill: $colorGrayDark;
        }
      }
    }
  }
  &:active {
    background-color: $colorGrayLighter;
    border: solid 1px $colorGray;
    color: $colorGrayDark;
    i {
      :global {
        .fill {
          fill: $colorGrayDark;
        }
      }
    }
  }
  &:disabled {
    border: solid 1px $colorGrayLight;
    color: $colorGray;
    opacity: 0.5;
    i {
      :global {
        .fill {
          fill: $colorGrayLight;
        }
      }
    }
  }
  i {
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}

@mixin btnPink {
  color: $colorWhite;
  background-color: $colorPink;
  border: solid 1px $colorPink;
  i {
    :global {
      .fill {
        fill: $colorWhite;
      }
    }
  }
  &:hover {
    color: $colorWhite;
    background-color: $colorPinkMid;
    border: solid 1px $colorPinkMid;
    i {
      :global {
        .fill {
          fill: $colorWhite;
        }
      }
    }
  }
  &:active {
    color: $colorWhite;
    background-color: $colorPinkDark;
    border: solid 1px $colorPinkDark;
    i {
      :global {
        .fill {
          fill: $colorWhite;
        }
      }
    }
  }
  &:disabled {
    color: $colorWhite;
    background-color: $colorGray;
    border: solid 1px $colorGray;
    opacity: 0.5;
    i {
      :global {
        .fill {
          fill: $colorWhite;
        }
      }
    }
  }
}

@mixin btnGreen {
  color: $colorWhite;
  background-color: $colorGreen;
  border: solid 1px $colorGreen;
  i {
    :global {
      .fill {
        fill: $colorWhite;
      }
    }
  }
  &:hover {
    color: $colorWhite;
    background-color: $colorGreenMid;
    border: solid 1px $colorGreenMid;
    i {
      :global {
        .fill {
          fill: $colorWhite;
        }
      }
    }
  }
  &:active {
    color: $colorWhite;
    background-color: $colorGreenDark;
    border: solid 1px $colorGreenDark;
    i {
      :global {
        .fill {
          fill: $colorWhite;
        }
      }
    }
  }
  &:disabled {
    color: $colorWhite;
    background-color: $colorGray;
    border: solid 1px $colorGray;
    opacity: 0.5;
    i {
      :global {
        .fill {
          fill: $colorWhite;
        }
      }
    }
  }
}

@mixin btnYellow {
  color: $colorWhite;
  background-color: $colorYellow;
  border: solid 1px $colorYellow;
  i {
    :global {
      .fill {
        fill: $colorWhite;
      }
    }
  }
  &:hover {
    color: $colorWhite;
    background-color: darken($colorYellow, 3%);
    border: solid 1px darken($colorYellow, 3%);
    i {
      :global {
        .fill {
          fill: $colorWhite;
        }
      }
    }
  }
  &:active {
    color: $colorWhite;
    background-color: darken($colorYellow, 5%);
    border: solid 1px darken($colorYellow, 5%);
    i {
      :global {
        .fill {
          fill: $colorWhite;
        }
      }
    }
  }
  &:disabled {
    color: $colorWhite;
    background-color: $colorGray;
    border: solid 1px $colorGray;
    opacity: 0.5;
    i {
      :global {
        .fill {
          fill: $colorWhite;
        }
      }
    }
  }
}

@mixin btnGray {
  color: $colorWhite;
  background-color: $colorGray;
  border: solid 1px $colorGray;
  i {
    :global {
      .fill {
        fill: $colorWhite;
      }
    }
  }
  &:hover {
    color: $colorWhite;
    background-color: $colorGrayDark;
    border: solid 1px $colorGrayDark;
    i {
      :global {
        .fill {
          fill: $colorWhite;
        }
      }
    }
  }
  &:active {
    color: $colorWhite;
    background-color: $colorBlack;
    border: solid 1px $colorBlack;
    i {
      :global {
        .fill {
          fill: $colorWhite;
        }
      }
    }
  }
  &:disabled {
    color: $colorWhite;
    background-color: $colorGray;
    border: solid 1px $colorGray;
    opacity: 0.5;
    i {
      :global {
        .fill {
          fill: $colorWhite;
        }
      }
    }
  }
}

@mixin btnWhite {
  color: $colorGrayDark;
  background-color: $colorWhite;
  border: solid 1px $colorWhite;
  i {
    :global {
      .fill {
        fill: $colorGrayDark;
      }
    }
  }
  &:hover {
    color: $colorGrayDark;
    background-color: $colorGrayLighter;
    border: solid 1px $colorGrayLighter;
    i {
      :global {
        .fill {
          fill: $colorGrayDark;
        }
      }
    }
  }
  &:active {
    color: $colorGrayDark;
    background-color: $colorGrayLight;
    border: solid 1px $colorGrayLight;
    i {
      :global {
        .fill {
          fill: $colorGrayDark;
        }
      }
    }
  }
  &:disabled {
    color: $colorGrayDark;
    background-color: $colorGray;
    border: solid 1px $colorGray;
    opacity: 0.5;
    i {
      :global {
        .fill {
          fill: $colorGrayDark;
        }
      }
    }
  }
}

@mixin btnBig {
  @include btn;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 48px;
  letter-spacing: 0.3px;
  padding: 0 33.5px;
  border-radius: 3px;
  height: 48px;
  min-height: 48px;
}

@mixin btnBigRound {
  @include btn;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 48px;
  letter-spacing: 0.3px;
  border-radius: 50%;
  height: 48px;
  min-height: 48px;
  width: 48px;
  min-width: 48px;
}

@mixin btnMedium($icon: false) {
  @include btn;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: 0.2px;
  padding: 0 22.5px;
  border-radius: 3px;
  height: 32px;
  min-height: 32px;
  @if $icon {
    padding: 0 18px 0 9px;
    i {
      width: 18px;
      height: 18px;
      margin-right: 6px;
    }
  }
}

@mixin btnMediumRound($icon: false) {
  @include btn;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: 0.2px;
  border-radius: 50%;
  height: 32px;
  min-height: 32px;
  width: 32px;
  min-width: 32px;
  @if $icon {
    i {
      width: 18px;
      height: 18px;
    }
  }
}

@mixin btnSmall($icon: false) {
  @include btn;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 26px;
  letter-spacing: 0.3px;
  padding: 0 20px;
  border-radius: 3px;
  height: 26px;
  min-height: 26px;
  @if $icon {
    padding: 0 13px 0 7px;
    i {
      width: 18px;
      height: 18px;
      margin-right: 3px;
    }
  }
}

@mixin btnSmallRound($icon: false) {
  @include btn;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 26px;
  letter-spacing: 0.3px;
  border-radius: 50%;
  height: 26px;
  min-height: 26px;
  width: 26px;
  min-width: 26px;
  @if $icon {
    i {
      width: 18px;
      height: 18px;
    }
  }
}

@mixin link($borderColor: $colorPink, $hoverTextColor: $colorBlack, $hoverBorderColor: $colorPink, $activeTextColor: $colorBlack) {
  position: relative;
  text-decoration: none;
  &:hover {
    color: $hoverTextColor;
    &::after {
      border-bottom: 2px solid $hoverBorderColor;
    }
  }
  &:active {
    color: $activeTextColor;
    &::after {
      border-bottom: none;
    }
  }
  &::after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid $borderColor;
    margin-top: 5px;
  }
}

@mixin overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: opacity 0.2s ease;
    background-image: $gradientBlack;
  }
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.2s ease;
    background-image: $gradientWhite;
  }
}

@mixin overlayHoverDark {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.2s ease;
  background-image: $gradientBlack;
  backface-visibility: hidden;
}


@mixin userBig {
  width: 32px;
  height: 32px;
  border: solid 2px $colorWhite;
  border-radius: 50%;
  background-color: $colorGray;
  position: relative;
  margin-left: -16px;
  display: block;
  transition: transform 0.3s ease;
  &:first-child {
    margin-left: 0;
  }
  &:hover {
    z-index: 100!important;
    transform: scale(1.1);
  }
}

@mixin product {
  $size: gridSmallWidth(1) + $gutterSmallWidth / 2;
  width: $size;
  height: $size;
  min-width: $size;
  min-height: $size;
  border-radius: 4px;
  background-color: $colorGrayLight;
  background-size: cover;
  background-position: 50%;
  position: relative;
  cursor: pointer;
  margin-right: $gutterSmallWidth / 2;
  backface-visibility: hidden;
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 8px;
    bottom: 8px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
}
