@import "../vars";

.sidebars {
  position: absolute;
  width: gridSmallWidth(5);
  box-shadow: $boxShadowBlurer;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  right: 0;
  top: 0;
  transition: all 0.3s ease-in;
  will-change: transform;
  z-index: 100;
}

.sidebars-active {
  box-shadow: $boxShadowBlurer;
  transform: translateX(-15px);
  background-color: $colorWhite;
}

.sidebars-inactive {
  box-shadow: none;
  transform: translateX(100%);
}

.sidebar-enter {
  transform: translateX(100%);
  &:before {
    opacity: 0;
  }
  &.sidebar-enter-active {
    transition: transform 0.3s ease-in;
    transform: translateX(0);
    &:before {
      opacity: 1;
      transition: opacity 0.5s;
    }
  }
}

.sidebar-leave {
  transform: translateX(0);
  &:before {
    opacity: 1;
    transition: opacity 0.5s;
  }
  &.sidebar-leave-active {
    transition: transform 0.3s ease-in;
    transform: translateX(100%);
    &:before {
      opacity: 0;
    }
  }
}

.sidebar-leave-all {
  transform: translateX(0);
  &:before {
    display: none;
    opacity: 0;
    transition: none;
  }
  &.sidebar-leave-active {
    transition: transform 0.3s ease-in;
    transform: translateX(100%);
    &:before {
      display: none;
      opacity: 0;
    }
  }
}

.sidebar-appear {
  transform: translateX(100%);
  &.sidebar-appear-active {
    transition: none;
    transform: translateX(0);
  }
}

