@import "../vars";

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.modal-overlay {
  background-color: rgba(249, 249, 249, 0.95);
  z-index: 5000;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  overflow: hidden;
  display: flex;
  width: 400px;
  position: relative;
  backface-visibility: hidden;
  height: auto;
  border-radius: 4px;
  background-color: $colorWhite;
  padding: 24px 24px 32px 24px;
}

.modal-close {
  cursor: pointer;
  width: 21px;
  height: 21px;
  position: absolute;
  top: 50px;
  right: 50px;
  transition: transform 0.5s ease;
  z-index: 10;
  i {
    :global {
      .fill {
        fill: $colorBlack;
      }
    }
    svg {
      width: 21px;
      height: 21px;
    }
  }
  &:hover {
    transform: scale(1.1);
  }
}
