@font-face {
    font-family: 'ProximaNova-Light';
    src: url('./proximaNova/proximaNova-light.woff') format('woff'),
         url('./proximaNova/proximaNova-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('./proximaNova/proximaNova-regular.woff') format('woff'),
         url('./proximaNova/proximaNova-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url('./proximaNova/proximaNova-semibold.woff') format('woff'),
         url('./proximaNova/proximaNova-semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('./proximaNova/proximaNova-bold.woff') format('woff'),
         url('./proximaNova/proximaNova-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OmnesPro-Light';
    src: url('./omnesPro/omnesPro-light.woff') format('woff'),
         url('./omnesPro/omnesPro-light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OmnesPro-Medium';
    src: url('./omnesPro/omnesPro-medium.woff') format('woff'),
         url('./omnesPro/omnesPro-medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OmnesPro-Regular';
    src: url('./omnesPro/omnesPro-regular.woff') format('woff'),
         url('./omnesPro/omnesPro-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OmnesPro-Semibold';
    src: url('./omnesPro/omnesPro-semibold.woff') format('woff'),
         url('./omnesPro/omnesPro-semibold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OmnesPro-Bold';
    src: url('./omnesPro/omnesPro-bold.woff') format('woff'),
         url('./omnesPro/omnesPro-bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('./roboto/Roboto-light.woff') format('woff'),
         url('./roboto/Roboto-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('./roboto/Roboto-medium.woff') format('woff'),
         url('./roboto/Roboto-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('./roboto/Roboto-regular.woff') format('woff'),
         url('./roboto/Roboto-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Roboto-Bold';
    src: url('./roboto/Roboto-bold.woff') format('woff'),
         url('./roboto/Roboto-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
