nav.medialaan-nav {
  background-color: #fff;
  min-height: 81px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;


  .navbar__logo__centered { //terms and privacy page
    &.navbar__left {
      float: none;

      img {
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &.centered--2 {
      &.navbar__left {
        a {
          &:first-child {
            img {
              left: 25%;
            }
          }

          &:last-child {
            img {
              left: 75%;
            }
          }
        }
      }
    }
  }

  .navbar__left {
    position: relative;
    height: 81px;
    float: left;

    img {
      max-height: 45px;
      position: absolute;
      left: 16px;
      top: 50%;
      transform: translate(0, -50%);

      @media (min-width: 1480px) {
        left: 0;
      }
    }
  }

  .navbar__right {
    float: right;
    display: block;

    li {
      float: left;
      margin-right: 25px;
      padding: 30px 0;

      &:last-of-type {
        margin-right: 16px;

        @media (min-width: 1480px) {
          margin-right: 0;
        }
      }

      &.navbar__regitem {
        display: none;
        @media (min-width: 768px) {
          display: block;
        }
      }

      &.navbar__cta {
        a {
          background-color: #cf315b;
          color: #fff;
          padding: 8px 12px;
          border-radius: 2px;
          cursor: pointer;

          &:hover {
            color: #fff;
            background: #9b2446;
          }
        }
      }

      a {
        transition: .2s ease-in-out;
        font-family: ProximaNova-Semibold;
        text-decoration: none;
        color: #221f26;
        text-transform: uppercase;
        font-size: 14px;

        &:hover {
          color: #cf315b;
        }
      }
    }
  }
}
