.confirm {
  padding-top: 54px;

  @media (min-width: 768px) {
    padding-top: 81px;
  }

  .confirm__textwrapper {
    text-align: center;
    margin: 50px auto;

    @media (min-width: 960px) {
      max-width: 40%;
      margin-top: 100px;
    }

    h1 {
      margin-bottom: 35px;
      font-size: 48px;
    }
    p {
      margin-bottom: 10px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
    a {
      color: #cf315b;
      text-decoration: underline;;
    }

    .confirm__badge {
      margin-top: 25px;
    }
  }
}
