@import "../vars";
@import "../responsive";
.markers-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  &:hover {
    .markers-overlay {
      opacity: 1;
    }
  }
}

.markers-overlay {
  @include overlayHoverDark;
  cursor: zoom-in;
}

.markers {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.marker {
  position: absolute;
  display: block;
  top: 40px;
  left: 100px;
  width: 16px;
  height: 16px;
  box-shadow: $boxShadowSharp;
  border: solid 2px $colorWhite;
  border-radius: 50%;
  cursor: pointer;
  &:hover {
    .marker-wrapper {
      display: block;
    }
  }
}

.marker-wrapper {
  display: none;
  position: absolute;
  left: 0;
  padding-left: 27px;
  top: -26px;
  z-index: 100;
  &:hover {
    display: block;
  }
}

.marker-content {
  display: flex;
  padding: 8px;
  background-color: $colorWhite;
  box-shadow: $boxShadowBlur;
  box-sizing: border-box;
  border-radius: 4px;
  width: 230px;
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: $colorWhite;
    left: 22px;
    top: 27px;
    transform: rotate(45deg);
  }
}

.marker-image {
  width: 48px;
  height: 48px;
  border-radius: 2px;
  background-color: $colorGrayLight;
  background-size: cover;
}

.marker-right {
  margin-left: 10px;
}

.marker-rel {
   @include tinyRegular($colorGreen);
}

.marker-rel-exact {
  @include tinyRegular($colorGreen);
}

.marker-rel-medium {
  @include tinyRegular($colorYellow);
}

.marker-name {
  @include smallMedium;
}

.marker-price {
  @include smallMedium;
}


//large desktop view
@media (min-width: $lgDesktopBreakpoint) {

}
//tablet landscape view
@media (max-width: $desktopBreakpoint - 1) {

}
//tablet portrait view
@media (max-width: $tabletLandscapeBreakpoint - 1) {

}
//phone view
@media (max-width: $phoneBreakpoint) {

}
