@import "../vars";
@import "../responsive";

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.poster {
  width: 100%;
  height: 480px;
  position: relative;
  background-size: cover;
  background-position: 50%;
  @media (max-width: $desktopBreakpoint) {
    height: 380px;
  }
  @media (max-width: $tabletLandscapeBreakpoint) {
    height: 280px;
  }
  @media (max-width: $phoneBreakpoint) {
    height: 180px;
  }
}

.info-wrapper {
  width: 100%;
  border-bottom: 1px solid $colorGrayLighter;
  box-sizing: content-box;
  background-color: $colorWhite;
}

.info {
  width: 100%;
  background-color: $colorWhite;
  padding: 19px $offsetWidth 19px $offsetWidth;
  transition: transform 0.1s ease;
  transform: translateY(30px);
  top: -30px;
  position: relative;
}

.info-sticky {
  position: fixed;
  transform: translateY(0);
  left: 0;
  top: $headerHeight;
  z-index: 900;
  box-shadow: $boxShadow;
  border-bottom: 1px solid $colorGrayLighter;
}

.info-content {
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
}

.info-left {
  display: flex;
  align-items: center;
}
.info-right {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.info-image {
  width: 48px;
  height: 72px;
  background-size: cover;
  background-position: 50%;
  overflow: hidden;
  border-radius: 4px;
  margin-right: $gutterSmallWidth;
}

.info-image-square {
  width: 48px;
  height: 48px;
}

.info-header {
}

.info-title {
  @include headlineMedium;
}

.info-type {
  @include bodyRegular($colorGray);
}

.info-subscribers {
  padding: 0 22.5px;
  display: flex;
}

.info-subscribers-count {
  @include bodyMedium;
}

.info-subscribers-text {
  @include bodyRegular($colorGray);
  margin-left: 6px;
}

.info-subscribe-btn {
  @include btnMedium;
  margin-left: 16.5px;
  span {
    display: block;
  }
  i {
    line-height: 10px;
    display: none;
  }
}

.info-subscribe-btn-subscribed {
  @include btnMedium;
  @include btnPink;
  span {
    display: block;
  }
  i {
    line-height: 10px;
    display: none;
  }
}

.info-share-wrapper {
  margin-left: 32px;
}

.info-share {
  @include btnMediumRound(true);
}

.topics {
  width: 100%;
  padding: 28px $offsetWidth 31px $offsetWidth;
  background-color: $colorWhite;
  box-sizing: border-box;
  border-bottom: 1px solid $colorGrayLighter;
}

.topics-content {
  margin: 0 auto;
  width: 100%;
}

.topics-title {
  @include titleMedium;
  margin-bottom: 14px;
}

.cards-filters-container {
  width: 100%;
  padding: 0 $offsetWidth;
  background-color: $colorGrayWhite;
  margin-top: 28px;
}

.cards-filters {
  margin: 0 auto;
  width: 100%;
}

.cards-filter {
  margin: 0;
}

.cards-filter-trigger {
  @include titleMedium;
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  i {
    display: block;
    margin-left: 10px;
    transform: rotate(90deg);
    :global {
      .fill {
        fill: $colorBlack;
      }
    }
  }
  a {
    @include titleMedium;
    text-decoration: none;
  }
}

.episodes {
  display: flex;
  padding: 15px 0 0 0;
  border-bottom: 1px solid $colorGrayLighter;
}

.episode {
  position: relative;
  display: block;
  width: gridSmallWidth(2);
  min-width: gridSmallWidth(2);
  height: 90px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: hidden;
  &:hover {
    .episode-title {
      color: $colorBlack;
    }
    .episode-overlay {
      &::before {
        opacity: 0;
      }
      &::after {
        opacity: 1;
      }
    }
  }
  &:active {
    .episode-title {
      color: $colorBlack;
    }
  }
}

.episode-wrapper {
  display: block;
  text-decoration: none;
  padding-bottom: 32px;
  margin-right: $gutterSmallWidth;
}

.episode-wrapper-selected {
  border-bottom: 2px solid $colorPink;
}

.episode-image {
  position: absolute;
  border-radius: 4px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50%;
}

.episode-overlay {
  @include overlay;
  border-radius: 4px;
  overflow: hidden;
  backface-visibility: hidden;
  &:before {
    border-radius: 4px;
  }
  &:after {
    border-radius: 4px;
  }
}

.episode-title {
  @include bodyRegular($colorWhite);
  position: absolute;
  left: 16px;
  bottom: 13px;
  white-space: nowrap;
}

.cards-wrapper {
  padding: $gutterWidth $offsetWidth 0 $offsetWidth;
}

.cards {
  margin: 0 auto 32px auto;
  width: 100%;
}

//large desktop view
@media (min-width: $lgDesktopBreakpoint) {

}
//tablet landscape view
@media (max-width: $desktopBreakpoint - 1) {

}
//tablet portrait view
@media (max-width: $tabletLandscapeBreakpoint - 1){

}
//phone view
@media (max-width: $phoneBreakpoint) {
  .info-title {
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.3px;
  }
  .info-type {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.4px;
  }
  .info-header {
    margin-left: 8px;
  }
  .info {
    padding-top: 11px;
    padding-bottom: 11px;
  }
  .info-image {
    width: 32px;
    height: 48px;
  }
  .info-subscribers {
    display: none;
  }
  .info-subscribe-btn-subscribed {
    padding: 0 9px;
  }
  .info-subscribe-btn {
    padding: 0 9px;
    span {
      display: none;
    }
    i {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 18px;
      height: 18px;
    }
  }
}
