@import "../vars";
@import "../responsive";

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.poster {
  width: 100%;
  height: 480px;
  position: relative;
  background-size: cover;
}

.info-wrapper {
  width: 100%;
  border-bottom: 1px solid $colorGrayLighter;
  box-sizing: content-box;
  background-color: $colorWhite;
}

.info {
  width: 100%;
  background-color: $colorWhite;
  padding: 19px $offsetWidth 19px $offsetWidth;
  transition: transform 0.1s ease;
  transform: translateY(30px);
  top: -30px;
  position: relative;
}

.info-sticky {
  position: fixed;
  transform: translateY(0);
  left: 0;
  top: $headerHeight;
  z-index: 900;
  box-shadow: $boxShadow;
  border-bottom: 1px solid $colorGrayLighter;
}

.info-content {
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
}

.info-left {
  display: flex;
  align-items: center;
}
.info-right {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.info-image {
  width: 48px;
  height: 72px;
  background-size: cover;
  background-position: 50%;
  overflow: hidden;
  border-radius: 4px;
}

.info-header {
  margin-left: $gutterSmallWidth;
}

.info-title {
  @include headlineMedium;
}

.info-type {
  @include bodyRegular($colorGray);
}

.info-subscribers {
  @include btnMedium;
  @include btnWhite;
}

.info-subscribers-count {
  @include bodyMedium;
}

.info-subscribers-text {
  @include bodyRegular($colorGray);
  margin-left: 6px;
}

.info-subscribe-btn {
  @include btnMedium;
  margin-left: 16.5px;
}

.info-subscribe-btn-subscribed {
  @include btnMedium;
  @include btnPink;
}

.info-share-wrapper {
  margin-left: 32px;
}

.info-share {
  @include btnMediumRound(true);
}

.topics {
  width: 100%;
  padding: 28px $offsetWidth 31px $offsetWidth;
  background-color: $colorWhite;
  box-sizing: border-box;
  border-bottom: 1px solid $colorGrayLighter;
}

.topics-content {
  max-width: $maxWidth;
  margin: 0 auto;
  width: 100%;
}

.topics-title {
  @include titleMedium;
  margin-bottom: 14px;
}

.cards-filters-container {
  width: 100%;
  padding: 0 $offsetWidth;
  display: flex;
  justify-content: center;
  background-color: $colorGrayWhite;
}

.cards-filters {
  max-width: $maxWidth;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid $colorGrayLighter;
  padding: 30px 0 30px 0;
}

.cards-filter {
  margin: 0 24px;
}

.cards-filter-trigger {
  @include titleMedium;
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  i {
    display: block;
    margin-left: 10px;
    transform: rotate(90deg);
    :global {
      .fill {
        fill: $colorBlack;
      }
    }
  }
}

.cards-wrapper {
  padding: $gutterWidth $offsetWidth 0 $offsetWidth;
}

.cards {
  max-width: $maxWidth;
  margin: 0 auto 32px auto;
  width: 100%;
}

//large desktop view
@media (min-width: $lgDesktopBreakpoint) {

}
//tablet landscape view
@media (max-width: $desktopBreakpoint - 1) {

}
//tablet portrait view
@media (max-width: $tabletLandscapeBreakpoint - 1){

}
//phone view
@media (max-width: $phoneBreakpoint) {
  .info-title {
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.3px;
  }
  .info-type {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.4px;
  }
  .info-header {
    margin-left: 8px;
  }
  .info {
    padding-top: 11px;
    padding-bottom: 11px;
  }
  .info-image {
    width: 32px;
    height: 48px;
  }
  .info-subscribers {
    display: none;
  }
  .info-subscribe-btn-subscribed, .info-subscribe-btn {
    padding: 0 9px;
  }
  .info-share-wrapper {
    margin-left: 16px;
  }
}
