.header {
  text-align: center;
  position: relative;
  padding-top: 54px;

  @media (min-width: 768px) {
    min-height: 760px;
    text-align: left;
  }

  .header__container {
    @media (min-width: 768px) {
      padding-top: 0;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
    }
  }

  .header__content {
    position: relative;
  }

  .device {
    padding-top: 50px;
    max-width: 240px;
    margin-bottom: -80px;

    @media (min-width: 768px) {
      position: absolute;
      bottom: 0;
      max-width: 360px;
      margin-bottom: 0;
    }
  }

  .header__headings {
    padding-top: 50px;

    @media (min-width: 768px) {
      float: right;
      padding-left: 410px;
      padding-bottom: 25px;
    }

    @media (min-width: 960px) {
      padding-left: 485px;
      padding-bottom: 75px;
    }

    h1 {
      @media (min-width: 768px) {
        font-size: 40px;
      }
      margin-bottom: 35px;
    }

    h2 {
      color: #221f26;
      font-size: 12px;
      line-height: 20px;
      margin-bottom: 35px;
      a {
        color: #cf315b;
        text-decoration: inherit;
        font-weight: 800;
      }

      @media (min-width: 768px) {
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 80px;
      }

      @media (min-width: 960px) {
        margin-bottom: 70px;
      }
    }

    .header__badge {
      @media (min-width: 768px) {
        padding-bottom: 25px;
      }

      a {
        display: inline-block;
        height: 38px;
        margin-right: 10px;

        @media (min-width: 768px) {
          height: 44px;
        }
      }

      img {
        width: 130px;
        height: 38px;

        @media (min-width: 768px) {
          width: 150px;
          height: 44px;
        }
      }

      .badge__text {
        font-size: 11px;
        color: rgba(34, 31, 38, .5);
        display: block;
        margin-top: 5px;

        @media (min-width: 768px) {
          display: none;
        }

        &.badge__text--big {
          display: none;

          @media (min-width: 768px) {
            font-size: 18px;
            margin-top: 10px;
            display: block;
          }
        }
      }
    }
  }
}

.overlay__header {
  background: rgba(250, 250, 250, .9);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
