@import "../vars";

// pass variables to react component
:export {
  cssTileWidth: gridSmallWidth(2) + $gutterSmallWidth;
}

.topic {
  position: relative;
  display: block;
  width: gridSmallWidth(2);
  min-width: gridSmallWidth(2);
  height: 90px;
  border-radius: 4px;
  box-sizing: border-box;
  margin-right: $gutterSmallWidth;
  &:hover {
    .topic-title {
      color: $colorBlack;
      &::after {
        border-bottom: 2px solid $colorPink;
      }
    }
    .topic-overlay {
      &::before {
        opacity: 0;
      }
      &::after {
        opacity: 1;
      }
    }
  }
  &:active {
    .topic-title {
      color: $colorBlack;
      &::after {
        border-bottom: none;
      }
    }
  }
}

.topic-image {
  position: absolute;
  border-radius: 4px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 0 0;
}

.topic-overlay {
  @include overlay;
  border-radius: 4px;
}

.topic-title {
  @include bodyRegular($colorWhite);
  @include link($borderColor: $colorWhite);
  position: absolute;
  left: 16px;
  bottom: 13px;
}
