.theoplayer-configuration-control {
  visibility: hidden;
}
.theoplayer-skin .vjs-play-progress, .theoplayer-skin .vjs-volume-level {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAP0lEQ…wcOg5FZi5iBB82AGzixEglJrd4TVK5XUJpskSTEvpdFzX9AB2pGziSQcvAAAAAAElFTkSuQmCC) -50% 0 #cf315b;
}

button {
  cursor: pointer !important;
}

button:focus {
  outline: 0;
}

.wrapper.wrapper--small {
  padding: 0 16px;
}

#video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  z-index: 1;
}
#videoContainer {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
}
#videoOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  pointer-events: none;
  z-index: 2147483647;
  opacity: 0;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), #000000);
  transition: opacity 0.3s ease-in;
}
#videoContent {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  pointer-events: none;
  z-index: 2147483647;
  font-size: 15px;
  font-family: Roboto-Medium;
}

@media only screen and (min-width: 480px) {
  #videoContent {
    font-size: 15px;
  }
}
@media only screen and (min-width: 768px) {
  #videoContent {
    font-size: 16px;
  }
}

@media only screen and (min-width: 992px) {
  #videoContent {
    font-size: 17px;
  }
}
@media only screen and (min-width: 1200px) {
  #videoContent {
    font-size: 21px;
  }
}

@media only screen and (min-width: 1600px) {
  #videoContent {
    font-size: 23px;
  }
}

.videoOverlayShow {
  opacity: 1 !important;
  transition: opacity 0.3s ease-in !important;
}
#info {
  color: #ffffff;
  font-size: 0.7em;
}

.sceneDetails {
  pointer-events: auto;
  position: absolute;
  padding-left: 0.688em;
  padding-right: 0.688em;
  padding-top: 0.625em;
  padding-bottom: 0.625em;
  left: 0;
  right: 0;
  top: 0;
  overflow: hidden;
}

.productTiles {
  line-height: 0;
}
.productTiles div {
  background-color: white;
  border-radius: 0.125em;
  display: inline-block;
  height: 1.875em;
  margin-right: 0.4em;
  opacity: 0.98;
  position: relative;
  width: 1.875em;
  transition: height 0.3s ease-in, width 0.3s ease-in;
}

.productTilesLarge div {
  border-radius: 2px;
  border: solid 2px #eaeced;
  height: 2.5em;
  width: 2.5em;
  transition: height 0.3s ease-in, width 0.3s ease-out;
}

/* On hover the product tile gets selected and remains selected. */
 .productTileSelected {
   border: solid 2px #cf315b !important;
 }

.subtileImage {
  border-radius: 0.125em;
  bottom: 0;
  height: auto;
  left: 0;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
.subtileImage:hover {
  opacity: 0.7;
}

.line {
  height: 1px;
  opacity: 0.2;
  background-color: #ffffff;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.productContainer {
}

#productDetails, #productDetails .productOverview {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.productDetailsShow, .productDetailsShow .productOverview {
  opacity: 1 !important;
  transition: opacity 0.3s ease-in !important;
}

.productImageContainer {
  background-color: #ffffff;
  border-radius: 0.125em;
  display: inline-block;
  height: 5em;
  margin-right: 1.25em;
  opacity: 0.98;
  position: relative;
  width: 5em;
}
.productImageContainer img {
  border-radius: 0.125em;
  bottom: 0;
  height: auto;
  left: 0;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
.productOverview {
  color: #ffffff;
  display: inline-block;
  font-family: Roboto-Medium;
  position: absolute;
  left: 7em;
  right: 0;
}

.productOverview h1 {
  color: #fff;
  font-family: Roboto-Medium;
  font-size: 1.125em;
  font-weight: 500;
  letter-spacing: 0.5px;
  overflow: hidden;
  padding-bottom: 0.25em;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.productOverview h2 {
  color: #fff;
  font-size: 0.75em;
  font-weight: normal;
  letter-spacing: 0.5px;
  overflow: hidden;
  padding-bottom: 0.563em;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.buyButton {
  background-color: #cf315b;
  border-radius: 2px;
  border: solid 1px #cf315b;
  color: #fff;
  display: inline-block;
  font-family: Roboto-Medium;
  font-size: 0.75em;
  padding: 0.5em 0.875em;
  text-align: center;
  text-decoration: none;
}
