.twitterfeed {
  padding: 50px 0;
  background: linear-gradient(to bottom, #221f26, #3a222c);
  text-align: center;

  @media (min-width: 768px) {
    padding: 100px 0;
  }

  .twitter__feed {
    @media (min-width: 768px) {
      padding: 0 16px;
    }
  }

  .slick-dots li button:before {
    color: white;
  }

  .slick-dots li.slick-active button:before {
    color: white;
  }

  h2 {
    color: #fff;
    font-size: 16px;
    margin-bottom: 17px;

    @media (min-width: 768px) {
      font-size: 24px;
      margin-bottom: 50px;
    }
  }

  .twitter__tile-container {
    padding: 0 16px;

    @media (min-width: 768px) {
      float: left;
      width: 32%;
      margin: 0;
      margin-right: 2%;
      padding: 0;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  .twitter__tile {
    position: relative;
    background: #fff;
    width: 100%;
    margin: 0 auto;
    border-radius: 4px;
    padding: 30px 16px;
    padding-bottom: 69px;

    @media (min-width: 768px) {
      float: left;
      margin: 0;
      margin-right: 2%;
      padding: 50px 35px;
      padding-bottom: 90px;
      //min-height: 329px;

      &:last-of-type {
        margin-right: 0;
      }
    }

    .twitter__logo {
      margin-bottom: 15px;
      position: relative;

      img {
        margin: 0 auto;
        width: auto;
        height: 28px;
      }
    }

    .twitter__overlay {
      background: rgba(34, 31, 38, .9);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .tweet__info {
      position: relative;

      .tweet__user {
        font-size: 14px;
        font-family: ProximaNova-Semibold;
        margin-bottom: 25px;

        a {
          color: rgba(34, 31, 38, .5);
          text-decoration: none;
        }

        @media (min-width: 768px) {
          margin-bottom: 35px;
        }
      }

      .tweet__desc {
        word-wrap: break-word;
        font-size: 14px;
        font-family: ProximaNova-Regular;

        a {
          color: #cf315b;
          text-decoration: none;
        }

        @media (min-width: 768px) {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }

    .tweet__viewlink {
      position: absolute;
      bottom: 29px;
      left: 0;
      width: 100%;
      text-align: center;

      a {
        font-size: 14px;
        color: #cf315b;
        text-decoration: none;
      }

      @media (min-width: 768px) {
        bottom: 40px;
      }
    }

    .twitter__overlay ~ {
      .tweet__info {
        color: #fff;

        .tweet__user {
          a {
            color: rgba(255, 255, 255, .5);
          }
        }
      }
    }
  }

  .twitter__button {
    display: none;

    @media (min-width: 768px) {
      transition: .2s ease-in-out;
      display: inline-block;
      font-size: 18px;
      color: #fff;
      background: #cf315b;
      padding: 10px 17px;
      margin-top: 65px;
      text-decoration: none;
      border-radius: 2px;

      &:hover {
        background: #9b2446;
      }
    }
  }
}
