.redirect {
  padding-top: 54px;
  height: 100vh;

  @media (min-width: 768px) {
    padding-top: 81px;
  }

  .wrapper {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  img {
    margin-bottom: 15px;
  }

  a {
    color: #cf315b;
  }
  .badge_container {
    position: fixed;
    top: 70%; left: 0; right: 0;
    text-align: center;

    @media (min-width: 768px) {
      top: 70%;
    }
    @media (min-width: 960px) {
      top: 60%;
    }
  }
  a.redirect__linktostore img {
    width: 40%; margin: 20px 5%;
    @media (min-width: 768px) {
      width: 150px;
      margin: 30px;
    }
    @media (min-width: 1200px) {
      width: 250px;
      margin: 50px;
    }
  }

  .hidden {
    display: none;
  }
}
